header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

h2 {
    font-size: 30px; 
}

.searchbar {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 20px;
    font-weight: bold;

}

h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

#Weather {
    flex-direction: row;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}

#weather1 {    
    flex-direction: row;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}
#weather2 {
    flex-direction: row;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}
#weather3 {
    flex-direction: row;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}
#weather4 {
    flex-direction: row;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}
#weather5 {
    flex-direction: row;
    border-style: solid;
    margin: 5px;
    padding: 5px;
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    background-color: #333;
    color: #fff;
}
div {
    margin: 5px
}

.container {
    float: right;
    margin-top: -80px;
    margin-right: 50px;
}